*{
    font-family:Arial, Helvetica, sans-serif;
}
.navbar{
    background-color: #03A9F4;
    position: sticky;
    top: 0;
    z-index: 10000;
  }
  .nav-item a{
    color: white;
    font-size: 17px;
    margin-left: 20px;
    transition: .6s;
  
  }
  .nav-item a:hover{
    /* color: rgb(0, 255, 76); */
    background-color: rgb(255, 255, 255);
    color: #03A9F4;
    /* border: 3px; */
    border-radius: 20px;
    padding: 5px 10px;
  }

.heading{
    width: 90vw;
    margin:20px auto;
    font-size: 30px;
    padding: 20px;
    /* background-color: aqua; */
}
.songArt{
    display: flex;
    flex-wrap: wrap;
    width: 84vw;
    margin: auto;
    gap: 10px;
}
.list {
    width: 250px;
    background-color: rgb(209, 215, 215);
    height: 270px;
    padding: 8px;
    border-radius: 10px;
    transition: background-color .5s;
    color: rgb(20, 19, 19);
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  p{
    margin: 0;
  }
  
  .list:hover {
    background-color: rgb(183, 209, 232);
  }

.name{
    font-weight: bold;
    font-size: 20px;
    margin: 10;

}
.list img{
    width: 100%;
    height: 50%;
    margin: auto;
    object-fit:cover;
    border-radius: 10px;
    background-color: aqua;
}

@media(max-width:650px){
  .songArt{
    /* align-items: center; */
    justify-content: center;
    gap: 10px;
  }
  .list{
    width: 130px;
    height: 200px;
  }
  .list p{
    font-size:10px
  }
}